services:
  db:
    image: postgres:16
    container_name: task_db
    restart: always
    env_file:
      - .env-non-dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: task_app
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env-non-dev

volumes:
  postgres_data:
